version: 2.1

jobs:
  build-and-test:
    docker:
      - image: maven:3.9.4-eclipse-temurin-21   # Docker Hub official maven image with Java 21

    steps:
      - checkout

      # Cache local maven repo between builds
      - restore_cache:
          keys:
            - maven-repo-{{ checksum "pom.xml" }}
            - maven-repo-
      - run:
          name: Build
          command: mvn -B -DskipTests -f Wildlife-Mapper/naturalist/pom.xml clean package
      - run:
          name: Test
          command: mvn test
      - save_cache:
          paths:
            - ~/.m2/repository
          key: maven-repo-{{ checksum "pom.xml" }}

workflows:
  sample:
    jobs:
      - build-and-test
